/* Navbar.css */

.navbar {
  background-color: hsl(261, 89%, 56%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  font-family: Arial, sans-serif;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.links, .auth {
  display: flex;
  gap: 20px;
}

.links a, .auth a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.links a:hover, .auth a:hover {
  color: #ff9800;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-bar input {
  padding: 8px 12px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.search-bar button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}

